.comment {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 2%;
    border-radius: 1%;
    border: 2px solid orange;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.comment-user-name a:hover {
  color: orange;
}

h1 {
    color: white;
    margin-bottom: 5%;
}

.comment-body-container {
    background-color: black;
    padding: 5%;
    border-radius: 1%;
    border: 2px solid green;
}

.add-comment-form {
    margin-bottom: 2%;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

/* .content {
    display: flex;
    align-items: center;
    gap: 5%;
} */

/* Botonaco */
.boton-send {
    color: white;
    --c:  #ffa500; /* the color*/
    border-radius: 2%;    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  .boton-send:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  .boton-send:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

  .boton-send {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

  .boton-send {
    font-family: 'Blue', sans-serif;
}

.boton-send {
    background-color: black;
}