body {
    margin: 0;
    background-color: black;
    font-family: 'Blue', sans-serif;
    height: 100%;
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    height: 100%;
    background-image: url(../img/LOGO1.png);
    background-size: 18%;
    background-color: rgb(111, 91, 61);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container.bg-image {
    border: 5px solid #000;
}


.nav {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-decoration: none;
    height: 10vh;
    border-bottom: 2px solid orange;
}

.nav h1 {
    justify-self: flex-start;
}


.nav li{
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
}

.nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.landing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    color: white;
    font-size: 2em;
    height: 90vh;
}

.landing-title h1 {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.landing-title button a {
    text-decoration: none;
    color: white;
}

.improve-skills {
    display: flex;
    justify-content: space-around;
    background-color: #00000093;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0.5%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    border: 2px solid orange;
}

#skills-title-text {
    color: white;
    padding: 5%;
    max-width: 50%;
}

#skills-title-text p {
    font-size: 2em;
}

#skills-title-text h1 {
    font-size: 3em;
}

#skills-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#skills-image img {
    border-radius: 1%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border: 2px solid black;
}

.get-instant-feedback {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    border-radius: 0.5%;
    border: 2px solid orange;
    color: white;
    padding: 5%;
    background-color: #00000093;
    border-radius: 0.5%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
}

.get-instant-feedback h1 {
    font-size: 3em;
}

.get-instant-feedback p {
    font-size: 2em;
}

#instant-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

#instant-img img {
    border-radius: 1%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border: 2px solid black;
}

.earn-score {
    display: flex;
    flex-direction: column;
    border-radius: 0.5%;
    border: 2px solid orange;
    margin-right: 3%;
    color: white;
    padding: 5%;
    background-color: #00000093;
    border-radius: 0.5%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;  
}

.earn-score p {
    font-size: 2em;
}

.earn-score h1 {
    font-size: 3em;
}

.engaged-community {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, rgba(255,143,0,1) 69%, rgba(255,143,0,1) 100%, rgba(255,246,0,1) 100%);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid orange;
    border-radius: 0.5%;
}

.mini-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mini-boxes h1 {
    font-size: 3em;
}

.compare-solutions {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #00000093;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 12;
    margin-left: 3%;
    border: 2px solid orange;
    border-radius: 0.5%;
    color: white;
    padding: 5%;
}

.compare-solutions p {
    font-size: 2em;
}

.compare-solutions h1 {
    font-size: 3em;
}

.create-challenge {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #00000093;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
    margin-right: 6%;
    border: 2px solid orange;
    border-radius: 0.5%;
    color: white;
    padding: 5%;
}

.create-challenge p {
    font-size: 2em;
}

.create-challenge h1 {
    font-size: 3em;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border-top: 2px solid orange;
}

.mini-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.mini-box a:hover {
    color: grey;
}



button {
    color: white;
    --c:  #ffa500; /* the color*/
    border-radius: 2%;    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

  button {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
    background-color: black;
  }

body button {
    font-family: 'Blue', sans-serif;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    
    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .improve-skills {
        display: flex;
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 5%;
    }

    .engaged-community {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }
    
}