.profile-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
    width: 80%;
}

.general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid orange;
    border-radius: 0.5%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5%;
    color: white;
}

.general h1 {
    align-self: flex-start;
}

.authored-challenges-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    border: 2px solid orange;
    border-radius: 0.5%;
    padding: 5%;
}

.authored-challenges-container h1 {
    color: white;
}

.completed-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: 2px solid orange;
    border-radius: 0.5%;
}

.code-block-containers {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 0.5%;
    border: 2px solid orange;
    width: 80%;
}

.code-block {
    display: flex;
    justify-content: center;
    color: white;
}

.challenge-box {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid orange;
    border-radius: 0.5%;
    background-color: black;
    color: white;
    width: 70%;
    margin-bottom: 5%;
}

.challenge-box a {
    align-self: flex-start;
    text-decoration: none;
    color: white;
}

.challenge-box h4, .challenge-box p {
    align-self: flex-start;
}

.challenge-box a h1 {
    margin: 0;
}

.challenge-info {
    display: flex;
    align-self:flex-start;
}

/* Botonaco */
button {
    color: white;
    --c:  #ffa500; /* the color*/
    border-radius: 2%;    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

  button {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

body button {
    font-family: 'Blue', sans-serif;
}