<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyMasters</title>
    <link href="https://fonts.cdnfonts.com/css/blue" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="menu-columna">
            <div class="sub-columna">
                <h1><span style="color:orange">Py</span>Masters</h1>
                <p>Python Elite</p>
                <hr>
                <div class="nav">
                    <li><a href="{% url 'login' %}"><img src="{% static 'img/home_24.png' %}" alt="Home">&nbspHOME </a></li>
                    <li><a href="{% url 'retos' %}"><img src="{% static 'img/code_24.png' %}" alt="Challenges">&nbspCHALLENGES </a></li>
                    <li><a href="{% url 'login' %}"><img src="{% static 'img/group_24.png' %}" alt="Users">&nbspUSERS</a></li>
                    <li><a href="{% url 'crea_challenges' %}"><img src="{% static 'img/add_24.png' %}" alt="Submit">&nbspSUBMIT</a></li>
                    {% if request.user.is_anonymous %}
                    <li><a href="{% url 'login' %}"><img src="{% static 'img/person_add_24.png' %}" alt="Register">&nbspREGISTER</a></li>
                    {% endif %}
                    {% if request.user.is_anonymous %}
                    <li><a href="{% url 'login' %}"><img src="{% static 'img/vpn_key_24.png' %}" alt="Log In">&nbspLOGIN</a></li>
                    {% else %}
                    <li><a href="{% url 'logout' %}"><img src="{% static 'img/exit_to_app_24.png' %}" alt="Log Out">&nbspLOG OUT</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'challenges_reviews' %}"><img src="{% static 'img/warning_24.png' %}" alt="Log Out">&nbspCHALLENGE REVIEWS</a></li>
                    {% endif %}
                    
                </div>
                <hr>
            </div>
            
        </div>
        <div class="content">  
          {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>