{% extends 'base.html' %}
{% load static %}


{% block content %}
  
    {% comment %} Importamos CodeMirror para hacer los inputs más atractivos {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://codemirror.net/5/tdeme/dracula.css">
    <link rel="stylesheet" href="https://codemirror.net/5/tdeme/darcula.css">

    {% comment %} Highlighting de pytdon {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/tdeme/dracula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/pytdon/pytdon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.js"></script>

    {% if challenges %}
    <table class="styled-table">
        <tr>
            <th>Title</th>
            <th>User</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Date</th>
        </tr>
        {% for challenge in challenges %}
        <tr>
          <td>{{ challenge.title }}</td>
          <td>{{ challenge.creator }}</td>
          <td>{{ challenge.category }}</td>
          <td>{{ challenge.difficulty }}</td>
          <td>{{ challenge.created_at }}</td>
          <td><button class="btn btn-primary button-reto"><a href="{% url 'reto_info' challenge.id %}">CHECK</a></button></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No challenges pending!</p>
    {% endif %}

    <script src="{% static 'js/challenge_reviews.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/challenge_reviews.css' %}">
  
{% endblock %}