{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h1 style="color: WHITE; font-size: 3em;">CHALLENGE REVIEWS</h1>

    {% if challenges %}
    <table class="styled-table">
        <tr>
            <th>Title</th>
            <th>User</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Date</th>
        </tr>
        {% for challenge in challenges %}
        <tr>
          <td>{{ challenge.title }}</td>
          <td>{{ challenge.creator }}</td>
          <td>{{ challenge.category }}</td>
          <td>{{ challenge.difficulty }}</td>
          <td>{{ challenge.created_at }}</td>
          <td><button class="btn btn-primary button-reto"><a href="{% url 'reto_info' challenge.id %}">CHECK</a></button></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No challenges pending!</p>
    {% endif %}

    <script src="{% static 'js/challenge_reviews.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/challenge_reviews.css' %}">
  
{% endblock %}