{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% if request.user.is_anonymous  %} 
  
  <div id="container-form">
  <form method="POST" id="loginform">
    <h1>Login</h1>
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <button type="submit" class="button-arounder">Log In</button>

  </form>
  
    {% else %}
    <h1 class="prueba">You are logged in {{ request.user.username }}</h1>
    {% endif %}
  </div>
  
{% endblock %}