{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% comment %} Importamos CodeMirror para hacer los inputs más atractivos {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
  <link rel="stylesheet" href="https://codemirror.net/5/theme/dracula.css">
  <link rel="stylesheet" href="https://codemirror.net/5/theme/darcula.css">

  {% comment %} Highlighting de python {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.js"></script>

  
  <link rel="stylesheet" href="{% static 'css/reto.css' %}">
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  <form method="POST" enctype="multipart/form-data" class="submit-challenge-form">
    {% csrf_token %}
    <div class="instrucciones">
      <md-block id="md-instructions">{{ challenge.instructions }}</md-block>
    </div>
    <div class="solucion">
      <label for="solution">Solución</label>
      <textarea name="codigo" id="code-editor-solution">{{ challenge.code_template }}</textarea>
    </div>
    <div class="logs">
      <label for="solution">Logs</label>
      <textarea name="logs" id="code-editor-logs">

        Total cases: {{ totalTests }} | Passed: {{ correct }} | Failed: {{ failedTests }}
        {% if failed  %}
        {% for case in cases %}
          {{ case.0 }} Received: {{ case.1 }} Expected: {{ case.2 }}
        {% endfor %}
        {% endif %}
        </textarea>
    </div>
    <button type="submit">Enviar solución</button>
  </form>
  <script src="{% static 'js/reto.js' %}"></script>
{% endblock %}