{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/retos.css' %}">
{% for challenge in challenges %}
<div class="challenge-box">
    <a href="#"><h1>{{ challenge.title }}</h1></a>
    <div class="challenge-info">
        <div class="challenge-date">{{ challenge.created_at }}</div>
        <div>&nbsp|&nbsp</div>
        <div class="challenge-category">MATH</div>
    </div>
    <h4>Dificultad: {{ challenge.difficulty }}</h4>
    <p>{{ challenge.description }}</p>
    <button class="btn btn-primary button-reto"><a href="{% url 'reto' challenge.id %}">Solve</a></button>
</div>
{% endfor %}
{% endblock %}