{% extends 'base.html' %}

{% block content %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/reto.css' %}">
  <h1>{{ challenge.title }}</h1>
  <p>Fecha: {{ challenge.created_at }}</p>
  <h2>Descripción</h2>
  <div id="instructions-div">
    <md-block id="instructions">{{ challenge.description }}</md-block>
  </div>
  
  

  <form method="POST">
    {% csrf_token %}
    <div class="editores-codigo">
      <div id="editor1">
        <label for="codigo">Your solution!:</label><br>
        <textarea name="codigo" id="code-editor-template">{{challenge.code_template}}</textarea><br>
      </div>
      <div id="editor2"> 
        <label for="logs">Log:</label><br>
        <textarea name="logs" id="code-editor-logs">
          
        Total cases: {{ totalTests }} | Passed: {{ correct }} | Failed: {{ failedTests }}
        {% if failed  %}
        {% for case in cases %}
          {{ case.0 }} Received: {{ case.1 }} Expected: {{ case.2 }}
        {% endfor %}
        {% endif %}
        </textarea><br>
      </div>
    </div>
    <button type="submit">Enviar solución</button>
  </form>
  <script src="{% static 'js/reto.js' %}">
{% endblock %}